# Ignore everything
*

# Allow files and directories
!.github/
!.github/**
!.taskfiles/
!.taskfiles/**
!src/
!src/**
!.dockerignore
!.editorconfig
!.gitignore
!.markdownlint.yaml
!.pre-commit-config.yaml
!.prettierrc.yaml
!.yamllint.yaml
!Dockerfile
!pyproject.toml
!README.md
!Taskfile.yaml
!uv.lock


# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/__pycache__
**/copilot*
