---
name: publish docker image

on:
  push:
    tags:
      - "v*.*.*"
    paths-ignore:
      - .github/**

jobs:
  docker-build-push:
    uses: techtales-io/github-workflows/.github/workflows/docker-push.yaml@9a54effecbdd565da56e5e6077e12bd92b605f21 # v0.3.1
    permissions:
      contents: read
      id-token: write
      packages: write
    with:
      runner: ubuntu-latest
      tags: |
        type=semver,pattern={{version}}

  create-release:
    needs: docker-build-push
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # https://github.com/marketplace/actions/gh-release
      - name: create release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
