---
name: build docker image

on:
  pull_request:
    types:
      - opened
      - synchronize
    paths-ignore:
      - .github/**

jobs:
  docker-build:
    uses: techtales-io/github-workflows/.github/workflows/docker-build.yaml@9a54effecbdd565da56e5e6077e12bd92b605f21 # v0.3.1
    permissions:
      contents: read
      packages: read
    with:
      runner: ubuntu-latest
