---
name: build docker image

on:
  pull_request:
    types:
      - opened
      - synchronize
    paths-ignore:
      - .github/**

jobs:
  docker-build:
    uses: techtales-io/github-workflows/.github/workflows/docker-build.yaml@01774392cb1618d8e7f699697422b199bfb30ba8 # v0.4.1
    permissions:
      contents: read
      packages: read
    with:
      runner: ubuntu-latest
