---
name: build docker image

on:
  pull_request:
    types:
      - opened
      - synchronize
    paths-ignore:
      - .github/**

jobs:
  docker-build:
    uses: techtales-io/github-workflows/.github/workflows/docker-build.yaml@9dd23aa5f200750afb5ddc6171cc5987d8333f49 # v0.4.0
    permissions:
      contents: read
      packages: read
    with:
      runner: ubuntu-latest
